:root {
    --background: #f2f2f2;
    --text: #000000;
    --accent: #ff0d0d;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1d1d1d;
        --text: #f1f1f1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    background-color: #fff;
    border-radius: 12px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #000
}

body {
    background-color: var(--background);
    color: var(--text);
    width: 100vw;
    height: 100vh;
    align-items: center;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 12px;
    font-family: Roboto, Arial, Helvetica, sans-serif
}

button {
    cursor: pointer;
    background-color: var(--accent);
    border: none;
    border-radius: 12px;
    padding: 12px;
    color: var(--text);
}

button:disabled {
    color: #3d3d3d;
    background-color: #00000040;
    cursor: not-allowed;
}

input {
    padding: 12px;
    border: none;
    border-radius: 12px;
}

input[type=number] {
    width: 72px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    width: 100%;
}

#caixaPokemons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 12px;
    align-items: center;
    justify-content: center;
}

#modalContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    cursor: pointer;
    z-index: 99;
}

#modalConteudo {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #ffffff60;
    cursor: auto;
    position: relative;
}

#fecharModal {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    padding: 4px
}

.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 124px;
    min-height: 124px;
    border: 1px solid #00000060;
    padding: 4px;
    cursor: pointer;
    border-radius: 12px;
    transition: all 0.2s;
}

.pokemon:hover {
    transform: translateY(-8px);
    box-shadow: #00000060 2px 8px;
    background-color: #ff0d0d;
}

.loader {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 8px solid var(--text);
    border-top: 8px solid var(--accent);
    border-radius: 50%;
    animation: rodar 2s linear infinite;
}

@keyframes rodar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}